.footer {
  padding: 20px;
  background-color: var(--cor-bg-principal);
  color: var(--cor-principal);
  min-height: 100px;
  padding-top: 60px;
}
.footer p {
  text-align: center;
  margin-bottom: 10pt;
}
